* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(178, 190, 181); /*cyan*/
}

hr {
    border: 1px solid #000000;
    border-radius: 10px;
}

#allrecipes-link {
    color: #ffffff;
}